@page "/products/{code}.html/{pageNumber:int?}"
@model Store.Public.Web.Pages.Products.CategoryModel;
<div class="section-box">
    <div class="breadcrumbs-div">
        <div class="container">
            <ul class="breadcrumb">
                <li><a class="font-xs color-gray-1000" href="/">Trang chủ</a></li>
                <li><a class="font-xs color-gray-500">@Model.Category.Name</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="section-box shop-template mt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-first order-lg-last">              
                <div class="box-filters mt-0 pb-5 border-bottom">
                    <div class="row">
                        <div class="col-xl-12 col-lg-9 mb-10 text-lg-end text-center">
                            <span class="font-sm color-gray-900 font-medium border-1-right span">1&ndash;16 của 17 sản phẩm</span>
                            <div class="d-inline-block">
                                <span class="font-sm color-gray-500 font-medium">Sắp xếp theo:</span>
                                <div class="dropdown dropdown-sort border-1-right">
                                    <button class="btn dropdown-toggle font-sm color-gray-900 font-medium" id="dropdownSort" type="button" data-bs-toggle="dropdown" aria-expanded="false">Sản phẩm mới nhất</button>
                                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort" style="margin: 0px;">
                                        <li><a class="dropdown-item active" href="#">Sản phẩm mới nhất</a></li>
                                        <li><a class="dropdown-item" href="#">Giá từ thấp tới cao</a></li>
                                        <li><a class="dropdown-item" href="#">Giá từ cao tới thấp</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="d-inline-block">
                                <span class="font-sm color-gray-500 font-medium">Xem</span>
                                <div class="dropdown dropdown-sort border-1-right">
                                    <button class="btn dropdown-toggle font-sm color-gray-900 font-medium" id="dropdownSort2" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"><span>30 sản phẩm</span></button>
                                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort2">
                                        <li><a class="dropdown-item active" href="#">30 sản phẩm</a></li>
                                        <li><a class="dropdown-item" href="#">50 sản phẩm</a></li>
                                        <li><a class="dropdown-item" href="#">100 sản phẩm</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="d-inline-block"><a class="view-type-grid mr-5 active" href="shop-grid.html"></a></div>
                        </div>
                    </div>
                </div>
                <div class="row mt-20">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card-grid-style-3">
                    <div class="card-grid-inner">
                        <div class="tools"><a class="btn btn-trend btn-tooltip mb-10" href="#" aria-label="Trend" data-bs-placement="left"></a><a class="btn btn-wishlist btn-tooltip mb-10" href="shop-wishlist.html" aria-label="Add To Wishlist"></a><a class="btn btn-compare btn-tooltip mb-10" href="shop-compare.html" aria-label="Compare"></a><a class="btn btn-quickview btn-tooltip" aria-label="Quick view" href="#ModalQuickview" data-bs-toggle="modal"></a></div>
                        <div class="image-box"><span class="label bg-brand-2">-17%</span><a href="shop-single-product.html"><img src="/assets/imgs/page/homepage1/imgsp3.png" alt="Ecom"></a></div>
                        <div class="info-right"><a class="font-xs color-gray-500" href="shop-vendor-single.html">Apple</a><br><a class="color-brand-3 font-sm-bold" href="shop-single-product.html">Màn hình Dell Optiplex 9020</a>
                        <div class="rating"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><span class="font-xs color-gray-500">(65)</span></div>
                        <div class="price-info"><strong class="font-lg-bold color-brand-3 price-main">1.999.999Đ</strong></div>
                        <div class="mt-20 box-btn-cart"><a class="btn btn-cart" href="shop-cart.html">Thêm vào giỏ</a></div>
                        <ul class="list-features">
                            <li>Màn hình Retina 5K 27 inch (đo theo đường chéo)</li>
                            <li>Bộ vi xử lý Intel Core i5 thế hệ thứ 10, 6 nhân, tốc độ 3.1GHz</li>
                            <li>Đồ họa AMD Radeon Pro 5300</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card-grid-style-3">
                    <div class="card-grid-inner">
                        <div class="tools"><a class="btn btn-trend btn-tooltip mb-10" href="#" aria-label="Trend" data-bs-placement="left"></a><a class="btn btn-wishlist btn-tooltip mb-10" href="shop-wishlist.html" aria-label="Add To Wishlist"></a><a class="btn btn-compare btn-tooltip mb-10" href="shop-compare.html" aria-label="Compare"></a><a class="btn btn-quickview btn-tooltip" aria-label="Quick view" href="#ModalQuickview" data-bs-toggle="modal"></a></div>
                        <div class="image-box"><span class="label bg-brand-2">-17%</span><a href="shop-single-product.html"><img src="/assets/imgs/page/homepage1/imgsp4.png" alt="Ecom"></a></div>
                        <div class="info-right"><a class="font-xs color-gray-500" href="shop-vendor-single.html">Apple</a><br><a class="color-brand-3 font-sm-bold" href="shop-single-product.html">Tai nghe HP 24, Intel Core i3-1115G4</a>
                        <div class="rating"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><span class="font-xs color-gray-500">(65)</span></div>
                        <div class="price-info"><strong class="font-lg-bold color-brand-3 price-main">1.999.999Đ</strong></div>
                        <div class="mt-20 box-btn-cart"><a class="btn btn-cart" href="shop-cart.html">Thêm vào giỏ</a></div>
                        <ul class="list-features">
                            <li>Màn hình Retina 5K 27 inch (đo theo đường chéo)</li>
                            <li>Bộ vi xử lý Intel Core i5 thế hệ thứ 10, 6 nhân, tốc độ 3.1GHz</li>
                            <li>Đồ họa AMD Radeon Pro 5300</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card-grid-style-3">
                    <div class="card-grid-inner">
                        <div class="tools"><a class="btn btn-trend btn-tooltip mb-10" href="#" aria-label="Trend" data-bs-placement="left"></a><a class="btn btn-wishlist btn-tooltip mb-10" href="shop-wishlist.html" aria-label="Add To Wishlist"></a><a class="btn btn-compare btn-tooltip mb-10" href="shop-compare.html" aria-label="Compare"></a><a class="btn btn-quickview btn-tooltip" aria-label="Quick view" href="#ModalQuickview" data-bs-toggle="modal"></a></div>
                        <div class="image-box"><span class="label bg-brand-2">-17%</span><a href="shop-single-product.html"><img src="/assets/imgs/page/homepage1/imgsp5.png" alt="Ecom"></a></div>
                        <div class="info-right"><a class="font-xs color-gray-500" href="shop-vendor-single.html">Apple</a><br><a class="color-brand-3 font-sm-bold" href="shop-single-product.html">Màn hình 23.8&quot; </a>
                        <div class="rating"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><span class="font-xs color-gray-500">(65)</span></div>
                        <div class="price-info"><strong class="font-lg-bold color-brand-3 price-main">1.999.999Đ</strong></div>
                        <div class="mt-20 box-btn-cart"><a class="btn btn-cart" href="shop-cart.html">Thêm vào giỏ</a></div>
                        <ul class="list-features">
                            <li>Màn hình Retina 5K 27 inch (đo theo đường chéo)</li>
                            <li>Bộ vi xử lý Intel Core i5 thế hệ thứ 10, 6 nhân, tốc độ 3.1GHz</li>
                            <li>Đồ họa AMD Radeon Pro 5300</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card-grid-style-3">
                    <div class="card-grid-inner">
                        <div class="tools"><a class="btn btn-trend btn-tooltip mb-10" href="#" aria-label="Trend" data-bs-placement="left"></a><a class="btn btn-wishlist btn-tooltip mb-10" href="shop-wishlist.html" aria-label="Add To Wishlist"></a><a class="btn btn-compare btn-tooltip mb-10" href="shop-compare.html" aria-label="Compare"></a><a class="btn btn-quickview btn-tooltip" aria-label="Quick view" href="#ModalQuickview" data-bs-toggle="modal"></a></div>
                        <div class="image-box"><span class="label bg-brand-2">-17%</span><a href="shop-single-product.html"><img src="/assets/imgs/page/homepage1/imgsp6.png" alt="Ecom"></a></div>
                        <div class="info-right"><a class="font-xs color-gray-500" href="shop-vendor-single.html">Apple</a><br><a class="color-brand-3 font-sm-bold" href="shop-single-product.html">Đồng hồ Apple Watch</a>
                        <div class="rating"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><span class="font-xs color-gray-500">(65)</span></div>
                        <div class="price-info"><strong class="font-lg-bold color-brand-3 price-main">1.999.999Đ</strong></div>
                        <div class="mt-20 box-btn-cart"><a class="btn btn-cart" href="shop-cart.html">Thêm vào giỏ</a></div>
                        <ul class="list-features">
                            <li>Màn hình Retina 5K 27 inch (đo theo đường chéo)</li>
                            <li>Bộ vi xử lý Intel Core i5 thế hệ thứ 10, 6 nhân, tốc độ 3.1GHz</li>
                            <li>Đồ họa AMD Radeon Pro 5300</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card-grid-style-3">
                    <div class="card-grid-inner">
                        <div class="tools"><a class="btn btn-trend btn-tooltip mb-10" href="#" aria-label="Trend" data-bs-placement="left"></a><a class="btn btn-wishlist btn-tooltip mb-10" href="shop-wishlist.html" aria-label="Add To Wishlist"></a><a class="btn btn-compare btn-tooltip mb-10" href="shop-compare.html" aria-label="Compare"></a><a class="btn btn-quickview btn-tooltip" aria-label="Quick view" href="#ModalQuickview" data-bs-toggle="modal"></a></div>
                        <div class="image-box"><span class="label bg-brand-2">-17%</span><a href="shop-single-product.html"><img src="/assets/imgs/page/homepage1/imgsp7.png" alt="Ecom"></a></div>
                        <div class="info-right"><a class="font-xs color-gray-500" href="shop-vendor-single.html">Apple</a><br><a class="color-brand-3 font-sm-bold" href="shop-single-product.html">HP Slim Desktop, Intel Celeron J4025, 4GB RAM</a>
                        <div class="rating"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><span class="font-xs color-gray-500">(65)</span></div>
                        <div class="price-info"><strong class="font-lg-bold color-brand-3 price-main">1.999.999Đ</strong></div>
                        <div class="mt-20 box-btn-cart"><a class="btn btn-cart" href="shop-cart.html">Thêm vào giỏ</a></div>
                        <ul class="list-features">
                            <li>Màn hình Retina 5K 27 inch (đo theo đường chéo)</li>
                            <li>Bộ vi xử lý Intel Core i5 thế hệ thứ 10, 6 nhân, tốc độ 3.1GHz</li>
                            <li>Đồ họa AMD Radeon Pro 5300</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card-grid-style-3">
                    <div class="card-grid-inner">
                        <div class="tools"><a class="btn btn-trend btn-tooltip mb-10" href="#" aria-label="Trend" data-bs-placement="left"></a><a class="btn btn-wishlist btn-tooltip mb-10" href="shop-wishlist.html" aria-label="Add To Wishlist"></a><a class="btn btn-compare btn-tooltip mb-10" href="shop-compare.html" aria-label="Compare"></a><a class="btn btn-quickview btn-tooltip" aria-label="Quick view" href="#ModalQuickview" data-bs-toggle="modal"></a></div>
                        <div class="image-box"><span class="label bg-brand-2">-17%</span><a href="shop-single-product.html"><img src="/assets/imgs/page/homepage1/imgsp1.png" alt="Ecom"></a></div>
                        <div class="info-right"><a class="font-xs color-gray-500" href="shop-vendor-single.html">Apple</a><br><a class="color-brand-3 font-sm-bold" href="shop-single-product.html">Class 4K UHD (2160P) LED Roku Smart TV HDR</a>
                        <div class="rating"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><span class="font-xs color-gray-500">(65)</span></div>
                        <div class="price-info"><strong class="font-lg-bold color-brand-3 price-main">1.999.999Đ</strong></div>
                        <div class="mt-20 box-btn-cart"><a class="btn btn-cart" href="shop-cart.html">Thêm vào giỏ</a></div>
                        <ul class="list-features">
                            <li>Màn hình Retina 5K 27 inch (đo theo đường chéo)</li>
                            <li>Bộ vi xử lý Intel Core i5 thế hệ thứ 10, 6 nhân, tốc độ 3.1GHz</li>
                            <li>Đồ họa AMD Radeon Pro 5300</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card-grid-style-3">
                    <div class="card-grid-inner">
                        <div class="tools"><a class="btn btn-trend btn-tooltip mb-10" href="#" aria-label="Trend" data-bs-placement="left"></a><a class="btn btn-wishlist btn-tooltip mb-10" href="shop-wishlist.html" aria-label="Add To Wishlist"></a><a class="btn btn-compare btn-tooltip mb-10" href="shop-compare.html" aria-label="Compare"></a><a class="btn btn-quickview btn-tooltip" aria-label="Quick view" href="#ModalQuickview" data-bs-toggle="modal"></a></div>
                        <div class="image-box"><span class="label bg-brand-2">-17%</span><a href="shop-single-product.html"><img src="/assets/imgs/page/homepage1/imgsp2.png" alt="Ecom"></a></div>
                        <div class="info-right"><a class="font-xs color-gray-500" href="shop-vendor-single.html">Apple</a><br><a class="color-brand-3 font-sm-bold" href="shop-single-product.html">Galaxy Tab S7 Plus 12.4&quot; 128GB Mystic Black</a>
                        <div class="rating"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><span class="font-xs color-gray-500">(65)</span></div>
                        <div class="price-info"><strong class="font-lg-bold color-brand-3 price-main">1.999.999Đ</strong></div>
                        <div class="mt-20 box-btn-cart"><a class="btn btn-cart" href="shop-cart.html">Thêm vào giỏ</a></div>
                        <ul class="list-features">
                            <li>Màn hình Retina 5K 27 inch (đo theo đường chéo)</li>
                            <li>Bộ vi xử lý Intel Core i5 thế hệ thứ 10, 6 nhân, tốc độ 3.1GHz</li>
                            <li>Đồ họa AMD Radeon Pro 5300</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                    @foreach (var item in Model.ProductData.Results)
                    {
                        <partial name="_ProductItem1" model="item" />
                    }
                </div>
               <partial name="_Paginator" model="Model.ProductData" />
            </div>
            <div class="col-lg-3 order-last order-lg-first">
                <div class="sidebar-border mb-0">
                    <div class="sidebar-head">
                        <h6 class="color-gray-900">Danh mục sản phẩm</h6>
                    </div>
                    <div class="sidebar-content">
                        <ul class="list-nav-arrow">
                            @foreach (var item in Model.Categories)
                            {
                              <li><a href="/products/@(item.Code).html">@item.Name<span class="number">@item.productCount</span></a></li>
                            }
                        </ul>                      
                    </div>
                </div>
                 <div class="sidebar-border mb-0">
                    <div class="sidebar-head">
                        <h6 class="color-gray-900">Thương hiệu</h6>
                    </div>
                    <div class="sidebar-content">
                        <ul class="list-nav-arrow">
                            
                              <li><a href="#">Apple<span class="number">0</span></a></li>
                              <li><a href="#">Sony<span class="number">0</span></a></li>
                            
                        </ul>                      
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>