@page "/"
@using Microsoft.AspNetCore.Mvc.Localization
@using Store.Localization
@using Volo.Abp.Users
@model Store.Public.Web.Pages.IndexPublicModel
@inject IHtmlLocalizer<StoreResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Home/Index.css" />
}
    @section scripts {
    <abp-script src="/Pages/Home/Index.js" />
}
    <section class="section-box">
        <div class="banner-hero banner-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="box-swiper">
                            <div class="swiper-container swiper-group-1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="banner-big bg-11" style="background-image: url(assets/imgs/page/homepage1/banner.png)">
                                            <span class="font-sm text-uppercase">Deal Hot</span>
                                            <h2 class="mt-10">Giảm giá lên đến 50%</h2>
                                            <h1>Điện thoại</h1>
                                            <div class="row">
                                                <div class="col-lg-5 col-md-7 col-sm-12">
                                                    <p class="font-sm color-brand-3">Tổng hợp các điện thoại hot nhất hiện nay, săn ngay deal hời !!</p>
                                                </div>
                                            </div>
                                            <div class="mt-30"><a class="btn btn-brand-2" href="shop-grid.html">Mua ngay</a><a class="btn btn-link" href="shop-grid.html">Xem thêm</a></div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="banner-big bg-11-2" style="background-image: url(assets/imgs/page/homepage1/banner-hero-2.png)">
                                            <span class="font-sm text-uppercase">Đang Xu Hướng</span>
                                            <h2 class="mt-10">Giảm giá 25%</h2>
                                            <h1>Laptop & PC</h1>
                                            <div class="row">
                                                <div class="col-lg-5 col-md-7 col-sm-12">
                                                    <p class="font-sm color-brand-3">Giảm giá deal hời cho hãng Apple, Samsung, Philips....</p>
                                                </div>
                                            </div>
                                            <div class="mt-30"><a class="btn btn-brand-2" href="shop-grid.html">Mua ngay</a><a class="btn btn-link" href="shop-grid.html">Xem thêm</a></div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="banner-big bg-11-3" style="background-image: url(assets/imgs/page/homepage1/banner-hero-3.png)">
                                            <span class="font-sm text-uppercase">Bán chạy tháng này</span>
                                            <h2 class="mt-10">Bộ sưu tập hot</h2>
                                            <h1>Kính VR</h1>
                                            <div class="row">
                                                <div class="col-lg-5 col-md-7 col-sm-12">
                                                    <p class="font-sm color-brand-3">Săn ngay deal hời khi đặt sớm kính thể giới ảo VR</p>
                                                </div>
                                            </div>
                                            <div class="mt-30"><a class="btn btn-brand-2" href="shop-grid.html">Mua ngay</a><a class="btn btn-link" href="shop-grid.html">Xem thêm</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination swiper-pagination-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-6 col-sm-12">
                                <div class="banner-small banner-small-1 bg-13">
                                    <span class="color-danger text-uppercase font-sm-lh32"><span class="color-brand-3">Giảm giá</span> 10%</span>
                                    <h4 class="mb-10">Apple Watch Serial 7</h4>
                                    <p class="color-brand-3 font-desc">Đừng bỏ lỡ<br class="d-none d-lg-block"> cơ hội.</p>
                                    <div class="mt-20"><a class="btn btn-brand-3 btn-arrow-right" href="shop-grid.html">Mua ngay</a></div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-12">
                                <div class="banner-small banner-small-2 bg-14">
                                    <span class="color-danger text-uppercase font-sm-lh32">BỘ SƯU TẬP MỚI NHẤT</span>
                                    <h4 class="mb-10">Apple</h4>
                                    <p class="color-brand-3 font-md">Đừng bỏ lỡ<br class="d-none d-lg-block"> cơ hội.</p>
                                    <div class="mt-20"><a class="btn btn-brand-2 btn-arrow-right" href="shop-grid.html">Mua ngay</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="section-box mt-30">
    <div class="container">
        <div class="border-bottom pb-25 head-main">
        <h3>Loại sản phẩm</h3>
        <p class="font-base">Chọn sản phẩm bạn muốn.</p>
        <!-- Button slider-->
        <div class="box-button-slider">
            <div class="swiper-button-next swiper-button-next-group-2"></div>
            <div class="swiper-button-prev swiper-button-prev-group-2"></div>
        </div>
        <!-- End Button slider-->
        </div>
        <div class="mt-10">
        <div class="box-swiper">
            <div class="swiper-container swiper-group-style-2">
            <div class="swiper-wrapper pt-5">
                <div class="swiper-slide">
                <ul class="list-9-col">
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-1.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Máy lọc không khí</a>
                        <p class="font-xs color-gray-500">1025 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-2.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Túi xách</a>
                        <p class="font-xs color-gray-500">125 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-3.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Bluetooth</a>
                        <p class="font-xs color-gray-500">625 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-4.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Đồ điện tử</a>
                        <p class="font-xs color-gray-500">1025 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-5.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Gaming</a>
                        <p class="font-xs color-gray-500">1025 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-6.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Ghế Gaming</a>
                        <p class="font-xs color-gray-500">1025 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-7.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Tủ lạnh</a>
                        <p class="font-xs color-gray-500">1025 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-8.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Đồ dùng bếp</a>
                        <p class="font-xs color-gray-500">1025 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-9.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Phụ kiện</a>
                        <p class="font-xs color-gray-500">1025 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-10.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Máy tính</a>
                        <p class="font-xs color-gray-500">325 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-11.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Camera</a>
                        <p class="font-xs color-gray-500">1025 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-12.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Giải trí</a>
                        <p class="font-xs color-gray-500">6536 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-13.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Thể thao</a>
                        <p class="font-xs color-gray-500">2458 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-14.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Máy tính bảng</a>
                        <p class="font-xs color-gray-500">2563 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-15.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Tivi</a>
                        <p class="font-xs color-gray-500">1025 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-16.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Đồng hồ</a>
                        <p class="font-xs color-gray-500">1254 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-17.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Flycam</a>
                        <p class="font-xs color-gray-500">2589 món</p>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="box-category hover-up">
                        <div class="image"><a href="shop-grid.html"><img src="assets/imgs/page/homepage2/cat-img-18.png" alt="Ecom"></a></div>
                        <div class="text-info"><a class="font-sm color-gray-900 font-bold" href="shop-grid.html">Máy ảnh</a>
                        <p class="font-xs color-gray-500">6358 món</p>
                        </div>
                    </div>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
<section class="section-box pt-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12 mb-30">
                <div class="bg-5 block-iphone">
                    <span class="color-brand-3 font-sm-lh32">Chỉ từ 12tr999</span>
                    <h3 class="font-xl mb-10">iPhone 12 Pro 128Gb</h3>
                    <p class="font-base color-brand-3 mb-10">Deal Hot</p><a class="btn btn-arrow" href="shop-grid.html">Xem thêm</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-7 col-md-7 col-sm-12 mb-30">
                <div class="bg-4 block-samsung">
                    <span class="color-brand-3 font-sm-lh32">Sản phẩm mới</span>
                    <h3 class="font-xl mb-10">Samsung 2022 Led TV</h3>
                    <p class="font-base color-brand-3 mb-20">Deal Hot</p><a class="btn btn-brand-2 btn-arrow-right" href="shop-grid.html">Xem thêm</a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12">
                <div class="bg-6 block-drone">
                    <h3 class="font-33 mb-20">Drone Quadcopter UAV - DJI Air 2S</h3>
                    <div class="mb-30"><strong class="font-18">Gimbal Camera, 5.4K Video</strong></div><a class="btn btn-brand-2 btn-arrow-right" href="shop-grid.html">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box pt-50">
    <div class="container">
        <div class="head-main">
            <div class="row">
                <div class="col-xl-7 col-lg-6">
                    <h3 class="mb-5">Top Bán Chạy</h3>
                    <p class="font-base color-gray-500">Sản phẩm đặc biệt tháng này.</p>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a class="active" href="#tab-all" data-bs-toggle="tab" role="tab" aria-controls="tab-all" aria-selected="true">Tất cả</a></li>
                        <li><a href="#tab-bestseller" data-bs-toggle="tab" role="tab" aria-controls="tab-bestseller" aria-selected="true">Bán chạy</a></li>
                        <li><a href="#tab-mostviewed" data-bs-toggle="tab" role="tab" aria-controls="tab-mostviewed" aria-selected="true">Xem nhiều</a></li>
                        <li><a href="#tab-topbrands" data-bs-toggle="tab" role="tab" aria-controls="tab-topbrands" aria-selected="true">Top thương hiệu</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="tab-all" role="tabpanel" aria-labelledby="tab-all">
                <div class="list-products-5">
                    @foreach (var item in Model.TopSellerProducts)
                    {
                       <partial name="_TopSellerProducts" model="item"/>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="tab-bestseller" role="tabpanel" aria-labelledby="tab-bestseller">
                <div class="list-products-5">
                   @* <partial name="_ProductItem1" />
                    <partial name="_ProductItem1" />
                    <partial name="_ProductItem1" />
                    <partial name="_ProductItem1" />
                    <partial name="_ProductItem1" />*@
                </div>
            </div>
            <div class="tab-pane fade" id="tab-mostviewed" role="tabpanel" aria-labelledby="tab-mostviewed">
                <div class="list-products-5">
                   @* <partial name="_ProductItem1" />
                    <partial name="_ProductItem1" />
                    <partial name="_ProductItem1" />
                    <partial name="_ProductItem1" />
                    <partial name="_ProductItem1" />*@
                </div>
            </div>
            <div class="tab-pane fade" id="tab-topbrands" role="tabpanel" aria-labelledby="tab-topbrands">
                <div class="list-products-5">
                  @*  <partial name="_ProductItem1" />
                    <partial name="_ProductItem1" />
                    <partial name="_ProductItem1" />
                    <partial name="_ProductItem1" />
                    <partial name="_ProductItem1" />*@
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box mt-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-12">
                <div class="banner-2 bg-xbox">
                    <span class="color-danger text-uppercase">Giảm giá 20%</span>
                    <h3 class="font-30">Microsoft</h3>
                    <h4 class="font-59">Xbox</h4>
                    <h5 class="font-55 mb-15">Series S</h5><span class="font-16">Từ 10tr500</span>
                    <div class="mt-25"><a class="btn btn-brand-2 btn-arrow-right" href="shop-fullwidth.html">Mua ngay</a></div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-12">
                <div class="image-gallery">
                    <div class="image-big">
                        <div class="banner-img-left bg-controller">
                            <h3 class="font-33 mb-10">Xbox Điều Kiển Chơi Game</h3>
                            <p class="font-18">Bản giới hạn</p>
                            <div class="mt-25"><a class="btn btn-info btn-arrow-right" href="shop-fullwidth.html">Mua ngay</a></div>
                        </div>
                    </div>
                    <div class="image-small">
                        <div class="bg-metaverse">
                            <h3 class="mb-10 font-32">Thế Giới Ảo</h3>
                            <p class="font-16">Kính<br class="d-none d-lg-block"> VR</p>
                            <div class="mt-15"><a class="btn btn-link-brand-2 btn-arrow-brand-2" href="shop-fullwidth.html">Xem thêm</a></div>
                        </div>
                    </div>
                </div>
                <div class="image-gallery">
                    <div class="image-small">
                        <div class="bg-electronic">
                            <h3 class="font-32">Đồ Điện Tử</h3>
                            <p class="font-16 color-brand-3">Got Trend Hiện Nay</p>
                        </div>
                    </div>
                    <div class="image-big">
                        <div class="bg-phone">
                            <h3 class="font-33 mb-15">Giảm giá cho đơn hàng đầu tiên</h3>
                            <p class="font-18">GiftCode giảm giá cho người mới.</p>
                            <div class="mt-25"><a class="btn btn-brand-2 btn-arrow-right" href="shop-fullwidth.html">Mua ngay</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box bg-gray-50 pt-50 pb-50 mt-50">
    <div class="container">
        <div class="head-main bd-gray-200">
        <div class="row">
            <div class="col-xl-7 col-lg-6">
            <h3 class="mb-5">Thương hiệu</h3>
            <p class="font-base color-gray-500">Nhà cung cấp hot nhất.</p>
            </div>
        </div>
        </div>
        <div class="tab-content">
        <div class="tab-pane fade active show" id="tab-2-all" role="tabpanel" aria-labelledby="tab-2-all">
            <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card-grid-style-4">
                <div class="card-grid-inner">
                    <div class="image-box"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/img-microsoft.png" alt="Ecom"></a></div>
                    <div class="info-right"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/microsoft.svg" alt="Ecom"></a>
                    <p class="font-xs color-brand-3">PC, Laptop, Smart Watch, Gaming Gear ...</p>
                    <div class="divide mb-5"></div>
                    <div class="font-lg-bold color-brand-3">Up to 25% off</div>
                    <div class="box-link"><a class="btn btn-link-brand-2 btn-arrow-brand-2 btn-arrow-small text-lowercase pt-0 pb-0" href="shop-vendor-single.html">Shop Now</a></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card-grid-style-4">
                <div class="card-grid-inner">
                    <div class="image-box"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/img-nokia.png" alt="Ecom"></a></div>
                    <div class="info-right"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/nokia.svg" alt="Ecom"></a>
                    <p class="font-xs color-brand-3">PC, Laptop, Smart Watch, Gaming Gear ...</p>
                    <div class="divide mb-5"></div>
                    <div class="font-lg-bold color-brand-3">Up to 30% off</div>
                    <div class="box-link"><a class="btn btn-link-brand-2 btn-arrow-brand-2 btn-arrow-small text-lowercase pt-0 pb-0" href="shop-vendor-single.html">Shop Now</a></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card-grid-style-4">
                <div class="card-grid-inner">
                    <div class="image-box"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/img-panasonic.png" alt="Ecom"></a></div>
                    <div class="info-right"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/panasonic.svg" alt="Ecom"></a>
                    <p class="font-xs color-brand-3">PC, Laptop, Smart Watch, Gaming Gear ...</p>
                    <div class="divide mb-5"></div>
                    <div class="font-lg-bold color-brand-3">Up to 55% off</div>
                    <div class="box-link"><a class="btn btn-link-brand-2 btn-arrow-brand-2 btn-arrow-small text-lowercase pt-0 pb-0" href="shop-vendor-single.html">Shop Now</a></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card-grid-style-4">
                <div class="card-grid-inner">
                    <div class="image-box"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/img-sharp.png" alt="Ecom"></a></div>
                    <div class="info-right"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/sharp.svg" alt="Ecom"></a>
                    <p class="font-xs color-brand-3">PC, Laptop, Smart Watch, Gaming Gear ...</p>
                    <div class="divide mb-5"></div>
                    <div class="font-lg-bold color-brand-3">Up to 65% off</div>
                    <div class="box-link"><a class="btn btn-link-brand-2 btn-arrow-brand-2 btn-arrow-small text-lowercase pt-0 pb-0" href="shop-vendor-single.html">Shop Now</a></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card-grid-style-4">
                <div class="card-grid-inner">
                    <div class="image-box"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/img-philip.png" alt="Ecom"></a></div>
                    <div class="info-right"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/philip.svg" alt="Ecom"></a>
                    <p class="font-xs color-brand-3">PC, Laptop, Smart Watch, Gaming Gear ...</p>
                    <div class="divide mb-5"></div>
                    <div class="font-lg-bold color-brand-3">Up to 19% off</div>
                    <div class="box-link"><a class="btn btn-link-brand-2 btn-arrow-brand-2 btn-arrow-small text-lowercase pt-0 pb-0" href="shop-vendor-single.html">Shop Now</a></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card-grid-style-4">
                <div class="card-grid-inner">
                    <div class="image-box"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/img-casio.png" alt="Ecom"></a></div>
                    <div class="info-right"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/casio.svg" alt="Ecom"></a>
                    <p class="font-xs color-brand-3">PC, Laptop, Smart Watch, Gaming Gear ...</p>
                    <div class="divide mb-5"></div>
                    <div class="font-lg-bold color-brand-3">Up to 15% off</div>
                    <div class="box-link"><a class="btn btn-link-brand-2 btn-arrow-brand-2 btn-arrow-small text-lowercase pt-0 pb-0" href="shop-vendor-single.html">Shop Now</a></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card-grid-style-4">
                <div class="card-grid-inner">
                    <div class="image-box"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/img-acer.png" alt="Ecom"></a></div>
                    <div class="info-right"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/acer.svg" alt="Ecom"></a>
                    <p class="font-xs color-brand-3">PC, Laptop, Smart Watch, Gaming Gear ...</p>
                    <div class="divide mb-5"></div>
                    <div class="font-lg-bold color-brand-3">Up to 20% off</div>
                    <div class="box-link"><a class="btn btn-link-brand-2 btn-arrow-brand-2 btn-arrow-small text-lowercase pt-0 pb-0" href="shop-vendor-single.html">Shop Now</a></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card-grid-style-4">
                <div class="card-grid-inner">
                    <div class="image-box"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/img-toshiba.png" alt="Ecom"></a></div>
                    <div class="info-right"><a href="shop-vendor-single.html"><img src="assets/imgs/page/homepage2/toshiba.svg" alt="Ecom"></a>
                    <p class="font-xs color-brand-3">PC, Laptop, Smart Watch, Gaming Gear ...</p>
                    <div class="divide mb-5"></div>
                    <div class="font-lg-bold color-brand-3">Up to 35% off</div>
                    <div class="box-link"><a class="btn btn-link-brand-2 btn-arrow-brand-2 btn-arrow-small text-lowercase pt-0 pb-0" href="shop-vendor-single.html">Shop Now</a></div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>

<div class="modal fade" id="ModalQuickview" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content apply-job-form">
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body p-30">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="gallery-image">
                            <div class="galleries-2">
                                <div class="detail-gallery">
                                    <div class="product-image-slider-2">
                                        <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-1.jpg" alt="product image"></figure>
                                        <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-2.jpg" alt="product image"></figure>
                                        <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-3.jpg" alt="product image"></figure>
                                        <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-4.jpg" alt="product image"></figure>
                                        <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-5.jpg" alt="product image"></figure>
                                        <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-6.jpg" alt="product image"></figure>
                                        <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-7.jpg" alt="product image"></figure>
                                    </div>
                                </div>
                                <div class="slider-nav-thumbnails-2">
                                    <div>
                                        <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-1.jpg" alt="product image"></div>
                                    </div>
                                    <div>
                                        <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-2.jpg" alt="product image"></div>
                                    </div>
                                    <div>
                                        <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-3.jpg" alt="product image"></div>
                                    </div>
                                    <div>
                                        <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-4.jpg" alt="product image"></div>
                                    </div>
                                    <div>
                                        <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-5.jpg" alt="product image"></div>
                                    </div>
                                    <div>
                                        <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-6.jpg" alt="product image"></div>
                                    </div>
                                    <div>
                                        <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-7.jpg" alt="product image"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-tags">
                            <div class="d-inline-block mr-25"><span class="font-sm font-medium color-gray-900">Category:</span><a class="link" href="#">Smartphones</a></div>
                            <div class="d-inline-block"><span class="font-sm font-medium color-gray-900">Tags:</span><a class="link" href="#">Blue</a>,<a class="link" href="#">Smartphone</a></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-info">
                            <h5 class="mb-15">SAMSUNG Galaxy S22 Ultra, 8K Camera & Video, Brightest Display Screen, S Pen Pro</h5>
                            <div class="info-by">
                                <span class="bytext color-gray-500 font-xs font-medium">by</span><a class="byAUthor color-gray-900 font-xs font-medium" href="shop-vendor-list.html"> Ecom Tech</a>
                                <div class="rating d-inline-block"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><span class="font-xs color-gray-500 font-medium"> (65 reviews)</span></div>
                            </div>
                            <div class="border-bottom pt-10 mb-20"></div>
                            <div class="box-product-price">
                                <h3 class="color-brand-3 price-main d-inline-block mr-10">$2856.3</h3><span class="color-gray-500 price-line font-xl line-througt">$3225.6</span>
                            </div>
                            <div class="product-description mt-10 color-gray-900">
                                <ul class="list-dot">
                                    <li>8k super steady video</li>
                                    <li>Nightography plus portait mode</li>
                                    <li>50mp photo resolution plus bright display</li>
                                    <li>Adaptive color contrast</li>
                                    <li>premium design & craftmanship</li>
                                    <li>Long lasting battery plus fast charging</li>
                                </ul>
                            </div>
                            <div class="box-product-color mt-10">
                                <p class="font-sm color-gray-900">Color:<span class="color-brand-2 nameColor">Pink Gold</span></p>
                                <ul class="list-colors">
                                    <li class="disabled"><img src="/assets/imgs/page/product/img-gallery-1.jpg" alt="Ecom" title="Pink"></li>
                                    <li><img src="/assets/imgs/page/product/img-gallery-2.jpg" alt="Ecom" title="Gold"></li>
                                    <li><img src="/assets/imgs/page/product/img-gallery-3.jpg" alt="Ecom" title="Pink Gold"></li>
                                    <li><img src="/assets/imgs/page/product/img-gallery-4.jpg" alt="Ecom" title="Silver"></li>
                                    <li class="active"><img src="/assets/imgs/page/product/img-gallery-5.jpg" alt="Ecom" title="Pink Gold"></li>
                                    <li class="disabled"><img src="/assets/imgs/page/product/img-gallery-6.jpg" alt="Ecom" title="Black"></li>
                                    <li class="disabled"><img src="/assets/imgs/page/product/img-gallery-7.jpg" alt="Ecom" title="Red"></li>
                                </ul>
                            </div>
                            <div class="box-product-style-size mt-10">
                                <div class="row">
                                    <div class="col-lg-12 mb-10">
                                        <p class="font-sm color-gray-900">Style:<span class="color-brand-2 nameStyle">S22</span></p>
                                        <ul class="list-styles">
                                            <li class="disabled" title="S22 Ultra">S22 Ultra</li>
                                            <li class="active" title="S22">S22</li>
                                            <li title="S22 + Standing Cover">S22 + Standing Cover</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-12 mb-10">
                                        <p class="font-sm color-gray-900">Size:<span class="color-brand-2 nameSize">512GB</span></p>
                                        <ul class="list-sizes">
                                            <li class="disabled" title="1GB">1GB</li>
                                            <li class="active" title="512 GB">512 GB</li>
                                            <li title="256 GB">256 GB</li>
                                            <li title="128 GB">128 GB</li>
                                            <li class="disabled" title="64GB">64GB</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="buy-product mt-5">
                                <p class="font-sm mb-10">Quantity</p>
                                <div class="box-quantity">
                                    <div class="input-quantity">
                                        <input class="font-xl color-brand-3" type="text" value="1"><span class="minus-cart"></span><span class="plus-cart"></span>
                                    </div>
                                    <div class="button-buy"><a class="btn btn-cart" href="shop-cart.html">Add to cart</a><a class="btn btn-buy" href="shop-checkout.html">Buy now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>