@page "/"
@using Microsoft.AspNetCore.Mvc.Localization
@using Store.Localization
@using Volo.Abp.Users
@model Store.Public.Web.Pages.IndexPublicModel
@inject IHtmlLocalizer<StoreResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Home/Index.css" />
}
    @section scripts {
    <abp-script src="/Pages/Home/Index.js" />
}
    <section class="section-box">
        <div class="banner-hero banner-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="box-swiper">
                            <div class="swiper-container swiper-group-1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="banner-big bg-11" style="background-image: url(assets/imgs/page/homepage1/banner.png)">
                                            <span class="font-sm text-uppercase">Deal Hot</span>
                                            <h2 class="mt-10">Giảm giá lên đến 50%</h2>
                                            <h1>Điện thoại</h1>
                                            <div class="row">
                                                <div class="col-lg-5 col-md-7 col-sm-12">
                                                    <p class="font-sm color-brand-3">Tổng hợp các điện thoại hot nhất hiện nay, săn ngay deal hời !!</p>
                                                </div>
                                            </div>
                                            <div class="mt-30"><a class="btn btn-brand-2" href="/products/@(Model.Categories[1].Code).html">Mua ngay</a><a class="btn btn-link" href="/products/@(Model.Categories[1].Code).html">Xem thêm</a></div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="banner-big bg-11-2" style="background-image: url(assets/imgs/page/homepage1/banner-hero-2.png)">
                                            <span class="font-sm text-uppercase">Đang Xu Hướng</span>
                                            <h2 class="mt-10">Giảm giá 25%</h2>
                                            <h1>Laptop & PC</h1>
                                            <div class="row">
                                                <div class="col-lg-5 col-md-7 col-sm-12">
                                                    <p class="font-sm color-brand-3">Giảm giá deal hời cho hãng Apple, Samsung, Philips....</p>
                                                </div>
                                            </div>
                                            <div class="mt-30"><a class="btn btn-brand-2" href="/products/@(Model.Categories[1].Code).html">Mua ngay</a><a class="btn btn-link" href="/products/@(Model.Categories[1].Code).html">Xem thêm</a></div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="banner-big bg-11-3" style="background-image: url(assets/imgs/page/homepage1/banner-hero-3.png)">
                                            <span class="font-sm text-uppercase">Bán chạy tháng này</span>
                                            <h2 class="mt-10">Bộ sưu tập hot</h2>
                                            <h1>Kính VR</h1>
                                            <div class="row">
                                                <div class="col-lg-5 col-md-7 col-sm-12">
                                                    <p class="font-sm color-brand-3">Săn ngay deal hời khi đặt sớm kính thể giới ảo VR</p>
                                                </div>
                                            </div>
                                            <div class="mt-30"><a class="btn btn-brand-2" href="/products/@(Model.Categories[1].Code).html">Mua ngay</a><a class="btn btn-link" href="/products/@(Model.Categories[1].Code).html">Xem thêm</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination swiper-pagination-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-6 col-sm-12">
                                <div class="banner-small banner-small-1 bg-13">
                                    <span class="color-danger text-uppercase font-sm-lh32"><span class="color-brand-3">Giảm giá</span> 10%</span>
                                    <h4 class="mb-10">Apple Watch Serial 7</h4>
                                    <p class="color-brand-3 font-desc">Đừng bỏ lỡ<br class="d-none d-lg-block"> cơ hội.</p>
                                    <div class="mt-20"><a class="btn btn-brand-3 btn-arrow-right" href="/products/@(Model.Categories[1].Code).html">Mua ngay</a></div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-12">
                                <div class="banner-small banner-small-2 bg-14">
                                    <span class="color-danger text-uppercase font-sm-lh32">BỘ SƯU TẬP MỚI NHẤT</span>
                                    <h4 class="mb-10">Apple</h4>
                                    <p class="color-brand-3 font-md">Đừng bỏ lỡ<br class="d-none d-lg-block"> cơ hội.</p>
                                    <div class="mt-20"><a class="btn btn-brand-2 btn-arrow-right" href="/products/@(Model.Categories[1].Code).html">Mua ngay</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="section-box mt-30">
<div class="container">
    <div class="border-bottom pb-25 head-main">
    <h3>Loại sản phẩm</h3>
    <p class="font-base">Chọn sản phẩm bạn muốn.</p>
    <!-- Button slider-->
    <div class="box-button-slider">
        <div class="swiper-button-next swiper-button-next-group-2"></div>
        <div class="swiper-button-prev swiper-button-prev-group-2"></div>
    </div>
    <!-- End Button slider-->
    </div>
    <div class="mt-10">
    <div class="box-swiper">
        <div class="swiper-container swiper-group-style-2">
        <div class="swiper-wrapper pt-5">
            <div class="swiper-slide">
            <ul class="list-9-col">
                @foreach(var item in Model.Categories)
            {
                   <partial name="_CategoryItem" model="item"/>
            }     
            </ul>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
<section class="section-box pt-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12 mb-30">
                <div class="bg-5 block-iphone">
                    <span class="color-brand-3 font-sm-lh32">Chỉ từ 12tr999</span>
                    <h3 class="font-xl mb-10">iPhone 12 Pro 128Gb</h3>
                    <p class="font-base color-brand-3 mb-10">Deal Hot</p><a class="btn btn-arrow" href="/products/@(Model.Categories[1].Code).html">Xem thêm</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-7 col-md-7 col-sm-12 mb-30">
                <div class="bg-4 block-samsung">
                    <span class="color-brand-3 font-sm-lh32">Sản phẩm mới</span>
                    <h3 class="font-xl mb-10">Samsung 2022 Led TV</h3>
                    <p class="font-base color-brand-3 mb-20">Deal Hot</p><a class="btn btn-brand-2 btn-arrow-right" href="/products/@(Model.Categories[1].Code).html">Xem thêm</a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12">
                <div class="bg-6 block-drone">
                    <h3 class="font-33 mb-20">Drone Quadcopter UAV - DJI Air 2S</h3>
                    <div class="mb-30"><strong class="font-18">Gimbal Camera, 5.4K Video</strong></div><a class="btn btn-brand-2 btn-arrow-right" href="/products/@(Model.Categories[1].Code).html">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box pt-50">
    <div class="container">
        <div class="head-main">
            <div class="row">
                <div class="col-xl-7 col-lg-6">
                    <h3 class="mb-5">Top Bán Chạy</h3>
                    <p class="font-base color-gray-500">Sản phẩm đặc biệt tháng này.</p>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a class="active" href="#tab-all" data-bs-toggle="tab" role="tab" aria-controls="tab-all" aria-selected="true">Tất cả</a></li>
                        <li><a href="#tab-bestseller" data-bs-toggle="tab" role="tab" aria-controls="tab-bestseller" aria-selected="true">Bán chạy</a></li>
                        <li><a href="#tab-mostviewed" data-bs-toggle="tab" role="tab" aria-controls="tab-mostviewed" aria-selected="true">Xem nhiều</a></li>
                        <li><a href="#tab-topbrands" data-bs-toggle="tab" role="tab" aria-controls="tab-topbrands" aria-selected="true">Top thương hiệu</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="tab-all" role="tabpanel" aria-labelledby="tab-all">
                <div class="list-products-5">
                    @foreach (var item in Model.TopSellerProducts)
                    {
                       <partial name="_TopSellerProducts" model="item"/>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="tab-bestseller" role="tabpanel" aria-labelledby="tab-bestseller">
                <div class="list-products-5">
                    @foreach (var item in Model.GetProductRandomList)
                    {
                       <partial name="_TopSellerProducts" model="item"/>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="tab-mostviewed" role="tabpanel" aria-labelledby="tab-mostviewed">
                <div class="list-products-5">
                    @foreach (var item in Model.GetTopManufacturerProductList)
                    {
                           <partial name="_TopSellerProducts" model="item"/>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="tab-topbrands" role="tabpanel" aria-labelledby="tab-topbrands">
                 <div class="list-products-5">
                    @foreach (var item in Model.TopSellerProducts)
                    {
                          <partial name="_TopSellerProducts" model="item"/>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box mt-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-12">
                <div class="banner-2 bg-xbox">
                    <span class="color-danger text-uppercase">Giảm giá 20%</span>
                    <h3 class="font-30">Microsoft</h3>
                    <h4 class="font-59">Xbox</h4>
                    <h5 class="font-55 mb-15">Series S</h5><span class="font-16">Từ 10tr500</span>
                    <div class="mt-25"><a class="btn btn-brand-2 btn-arrow-right" href="/products/@(Model.Categories[1].Code).html">Mua ngay</a></div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-12">
                <div class="image-gallery">
                    <div class="image-big">
                        <div class="banner-img-left bg-controller">
                            <h3 class="font-33 mb-10">Xbox Điều Kiển Chơi Game</h3>
                            <p class="font-18">Bản giới hạn</p>
                            <div class="mt-25"><a class="btn btn-info btn-arrow-right" href="/products/@(Model.Categories[1].Code).html">Mua ngay</a></div>
                        </div>
                    </div>
                    <div class="image-small">
                        <div class="bg-metaverse">
                            <h3 class="mb-10 font-32">Thế Giới Ảo</h3>
                            <p class="font-16">Kính<br class="d-none d-lg-block"> VR</p>
                            <div class="mt-15"><a class="btn btn-link-brand-2 btn-arrow-brand-2" href="/products/@(Model.Categories[1].Code).html">Xem thêm</a></div>
                        </div>
                    </div>
                </div>
                <div class="image-gallery">
                    <div class="image-small">
                        <div class="bg-electronic">
                            <h3 class="font-32">Đồ Điện Tử</h3>
                            <p class="font-16 color-brand-3">Got Trend Hiện Nay</p>
                        </div>
                    </div>
                    <div class="image-big">
                        <div class="bg-phone">
                            <h3 class="font-33 mb-15">Giảm giá cho đơn hàng đầu tiên</h3>
                            <p class="font-18">GiftCode giảm giá cho người mới.</p>
                            <div class="mt-25"><a class="btn btn-brand-2 btn-arrow-right" href="/products/@(Model.Categories[1].Code).html">Mua ngay</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box bg-gray-50 pt-50 pb-50 mt-50">
    <div class="container">
        <div class="head-main bd-gray-200">
        <div class="row">
            <div class="col-xl-7 col-lg-6">
            <h3 class="mb-5">Thương hiệu</h3>
            <p class="font-base color-gray-500">Nhà cung cấp hot nhất.</p>
            </div>
        </div>
        </div>
        <div class="tab-content">
        <div class="tab-pane fade active show" id="tab-2-all" role="tabpanel" aria-labelledby="tab-2-all">
            <div class="row">
                    @foreach(var item in Model.Manufacturers)
                    {
                        <partial name="_ManufacturerItem" model="item"/>
                    }
            </div>
        </div>
        </div>
    </div>
    </section>
