<p-panel header="Danh sách sản phẩm">
  <!-- Filter -->
  <div class="grid">
    <div class="col-4">
      <button 
      pButton
      (click) = "showAddModal()"
      type="button"
      icon="pi pi-plus"
      iconPos="left"
      label="Thêm mới"
      >
      </button>
      <button 
      pButton
      (click) = "showEditModal()"
      type="button"
      icon="pi pi-minus"
      *ngIf="selectedItems.length == 1"
      class="ml-1 p-button-help"
      iconPos="left"
      label="Sửa"
      >
      </button>
      <button 
      pButton
      (click) = "deleteItems()"
      type="button"
      icon="pi pi-minus"
      *ngIf="selectedItems.length > 0"
      class="ml-1 p-button-danger"
      iconPos="left"
      label="Xóa"
      >
      </button>
    </div>
    <div class="col-8">
      <div class="formgroup-inline">
        <div class="field">
            <label for="txt-keyword"  class="p-sr-only">Từ khóa</label>
            <input id="txt-keyword" pInputText type="text" placeholder="Nhập từ khóa">
        </div>
        <div class="field">
          <p-dropdown 
            [options]="productCategories" 
            [(ngModel)]="categoryId" 
            placeholder="Chọn danh mục">
          </p-dropdown>
        </div>
        <button type="button" pButton
        (click)="loadData()">Tìm kiếm</button>
      </div>
    </div>
  </div>
  <!-- Table -->
  
  <p-table #pnl [value]="items" [(selection)]="selectedItems" selectionMode="multiple">
    <ng-template pTemplate="header">
        <tr [pSelectableRow]="row">
            <th style="width: 10px;">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Mã</th>
            <th>Sku</th>
            <th>Tên</th>
            <th>Loại</th>
            <th>Tên danh mục</th>
            <th>Thứ tự</th>
            <th>Hiển thị</th>
            <th>Kích hoạt</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
          <th style="width: 10px;">
            <span class="ui-column-title"></span>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </th>
            <td>{{ row.code }}</td>
            <td>{{ row.sku }}</td>
            <td>{{ row.name }}</td>
            <td>{{ getProductTypeName(row.productType) }}</td>
            <td>{{ row.categoryName }}</td>
            <td>{{ row.sortOrder }}</td>
            <td>
              <p-badge *ngIf="row.visibility == 1" severity ="success" value="Hiển thị"></p-badge>
              <p-badge *ngIf="row.visibility == 0" severity ="danger" value="Ẩn"></p-badge>
            </td>
            <td>
              <p-badge *ngIf="row.isActive == 1" severity ="success" value="Kích hoạt"></p-badge>
              <p-badge *ngIf="row.isActive == 0" severity ="danger" value="Chưa kích hoạt"></p-badge>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="text-align: left">Tổng số bản ghi : {{totalCount | number}}</div>
    </ng-template>

  </p-table>
  <!-- Paginator -->
  <p-paginator 
      [rows]="maxResultCount" 
      [totalRecords]="totalCount" 
      [rowsPerPageOptions]="[10, 20, 30]"> 
  </p-paginator>
  <!-- Block UI -->
  <p-blockUI [target]="pnl" [blocked]="blockedPanel"><p-progressSpinner ariaLabel="loading"></p-progressSpinner></p-blockUI>
</p-panel>