<p-chart type="bar" [data]="2" [options]="1" >
</p-chart>

<ng-template #featuresTemplate let-context>
  <div class="col-lg-2 border-start">
    <div class="p-3">
      <h6>
        <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i>
        <span [innerHTML]="context.title"></span>
        <a [href]="context.href" target="_blank" class="d-block mt-2 btn btn-sm btn-link"
        >Details <i class="fas fa-chevron-right"></i
        ></a>
      </h6>
    </div>
  </div>
</ng-template>

<style scoped>
  .col-lg-2.border-start:nth-of-type(6n + 1) {
    border-left: 0 !important;
  }

  .col-lg-4.border-start:nth-of-type(3n + 1) {
    border-left: 0 !important;
  }

  @media (max-width: 991px) {
    .border-start {
      border-left: 0 !important;
    }
  }
</style>
