﻿<section class="section-box mt-90 mb-50">
    <div class="container">
        <ul class="list-col-5">
            <li>
                <div class="item-list">
                <div class="icon-left"><img src="/assets/imgs/template/secure.svg" alt="Ecom"></div>
                    <div class="info-right">
                    <h5 class="font-lg-bold color-gray-100">Thanh toán</h5>
                    <p class="font-sm color-gray-500">100% An toàn</p>
                </div>
                </div>
            </li>
            <li>
              <div class="item-list">
                <div class="icon-left"><img src="/assets/imgs/template/delivery.svg" alt="Ecom"></div>
                <div class="info-right">
                  <h5 class="font-lg-bold color-gray-100">Free Ship</h5>
                  <p class="font-sm color-gray-500">Free ship toàn quốc</p>
                </div>
              </div>
            </li>
            <li>
                <div class="item-list">
                    <div class="icon-left"><img src="/assets/imgs/template/support.svg" alt="Ecom"></div>
                    <div class="info-right">
                        <h5 class="font-lg-bold color-gray-100">Hỗ trợ 24/7</h5>
                        <p class="font-sm color-gray-500">Hỗ trợ chuyên sâu</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-list">
                    <div class="icon-left"><img src="/assets/imgs/template/voucher.svg" alt="Ecom"></div>
                    <div class="info-right">
                        <h5 class="font-lg-bold color-gray-100">Gift voucher</h5>
                        <p class="font-sm color-gray-500">Giới thiệu bạn bè</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-list">
                    <div class="icon-left"><img src="/assets/imgs/template/return.svg" alt="Ecom"></div>
                    <div class="info-right">
                        <h5 class="font-lg-bold color-gray-100">Hoàn Trả</h5>
                        <p class="font-sm color-gray-500">Hoàn trả lên đến 100%</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="section-box box-newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-12">
                <h3 class="color-white">Đăng Ký &amp; Nhận <span class="color-warning">10%</span> Giảm Giá</h3>
                <p class="font-lg color-white">Nhận thông báo từ trang <span class="font-lg-bold">cho deal giảm giá.</span></p>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12">
                <div class="box-form-newsletter mt-15">
                    <form class="form-newsletter">
                        <input class="input-newsletter font-xs" value="" placeholder="Địa chỉ email">
                        <button class="btn btn-brand-2">Đăng ký</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="footer-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 width-25 mb-30">
                    <h4 class="mb-30 color-gray-1000">Liên Hệ</h4>
                    <div class="font-md mb-20 color-gray-900"><strong class="font-md-bold">Địa chỉ:</strong> 05 Cống Quỷnh, TX Buôn Hồ</div>
                    <div class="font-md mb-20 color-gray-900"><strong class="font-md-bold">Điện thoại:</strong> +1900800</div>
                    <div class="font-md mb-20 color-gray-900"><strong class="font-md-bold">E-mail:</strong> contact@tomstore.com</div>
                    <div class="font-md mb-20 color-gray-900"><strong class="font-md-bold">Mở cửa:</strong> 8:00 - 17:00, Thứ 2 - Chủ Nhật</div>
                    <div class="mt-30"><a class="icon-socials icon-facebook" href="#"></a><a class="icon-socials icon-instagram" href="#"></a><a class="icon-socials icon-twitter" href="#"></a><a class="icon-socials icon-linkedin" href="#"></a></div>
                </div>
                <div class="col-lg-3 width-20 mb-30">
                    <h4 class="mb-30 color-gray-1000">Make Money with Us</h4>
                    <ul class="menu-footer">
                        <li><a href="page-about-us.html">Mission &amp; Vision</a></li>
                        <li><a href="page-about-us.html">Our Team</a></li>
                        <li><a href="page-careers.html">Careers</a></li>
                        <li><a href="#">Press &amp; Media</a></li>
                        <li><a href="#">Advertising</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 width-16 mb-30">
                    <h4 class="mb-30 color-gray-1000">Công Ty</h4>
                    <ul class="menu-footer">
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Kế hoạch</a></li>
                        <li><a href="#">Kiến thức</a></li>
                        <li><a href="#">Cơ quan</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 width-16 mb-30">
                    <h4 class="mb-30 color-gray-1000">Tài khoản</h4>
                    <ul class="menu-footer">
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Chatting trực tuyến</a></li>
                        <li><a href="page-contact.html">Liện hệ chúng tôi</a></li>
                        <li><a href="#">Trung tâm hỗ trợ</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 width-23">
                    <h4 class="mb-30 color-gray-1000">Thanh toán</h4>
                    <div>
                        <p class="font-md color-gray-900 mt-20 mb-10">Hỗ trợ thanh toán</p><img src="/assets/imgs/template/payment-method.png" alt="Ecom">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-2">
        <div class="footer-bottom-1">
            <div class="container">
                <div class="footer-2-top mb-20"><a href="index.html"><img alt="Ecom" src="/assets/imgs/template/logo-2.svg"></a><a class="font-xs color-gray-1000" href="#">EcomMarket.com</a><a class="font-xs color-gray-1000" href="#">Ecom Partners</a><a class="font-xs color-gray-1000" href="#">Ecom Bussiness</a><a class="font-xs color-gray-1000" href="#">Ecom Factory</a></div>
            </div>
        </div>
        <div class="container">
            <div class="footer-bottom mt-20">
                <div class="row">
                    <div class="col-lg-6 col-md-12 text-center text-lg-start"><span class="color-gray-900 font-sm">Copyright &copy; 2024 Ecom Market. All rights reserved.</span></div>
                </div>
            </div>
        </div>
    </div>
</footer>